{% extends "layout/administration.html" %}
{% load i18n %}
{% block headline %}
{% trans 'Video Post Modification' %}
{% endblock %}
{% block middle %}
<form action="{{ PATH }}admin/videopost/delete/{{ videopost.id }}/" method="post">
    {% csrf_token %}
    <table width="500" border="0" class="admin-form delete-form">
        <tr>
            <td id="delete-form-message">
                {% trans "Are you sure you want to delete the Video Post" %}:<br> 
				"{{ videopost.title }}"
            </td>
        </tr>
        <tr>
            <td class="center">
				<input class="button" id="delete-form-submit" type="submit" value="{% trans 'Delete' %}" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}