{% extends "layout/administration.html" %}
{% load i18n %}
{% block headline %}
{% trans 'Video Post Administration' %}
{% endblock %}
{% block middle %}
<script type="text/javascript">
	{% include "layout/generated/js_tags.inc" %}
</script>	
<script type="text/javascript" src="{{ MEDIA_URL }}js/tag.js"></script>	
<form action="{{ PATH }}admin/videopost/update/{{ videopost.id }}/" method="post">
    {% csrf_token %}
    <table width="500" border="0" class="admin-form">
        {% csrf_token %}
        {% include "videopost/admin/includes/update.inc" %}
        <tr>
            <td colspan="2" class="center">
                <input type="submit" class="button" value="{% trans 'Save' %}" id="admin-form-submit"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}